html, body {
    height: 100%; 
    width: 100%; 
    margin: 0; 
    font-size: 20px;
}

.con{
    height: 100%;
    background-image: url("photo/bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.chart {
    margin: 0 auto;
    width: 80%;
}

@media screen and (min-width:600px){
    .chart {
        margin: 0 auto;
        width: 100%;
    }
}


nav a{
    font-size: 1rem !important;
}

.navbar-nav a{
    padding: 10px  !important;
}

.navbar-brand{
    padding: 10px;
}

#run_time_con_con{
    height: 90%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
}


#timecon{
    text-align: center;
    align-items:center;
    font-size: 2.5rem;
}

#datecon{
    text-align: center;
    visibility: hidden;
}
